@implements IUsesLayout<_Layout, LayoutModel>

<div id="admin-content">
  <div class="container-fluid">
    <h3>
      Application Logs
      <span class="fa-solid fa-book" />
    </h3>
    <div class="row">
      <div class="col-12">
        <textarea class="form-control log-console" id="logs" placeholder="Awaiting logs..." readonly></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-check form-check-inline ml-3 mt-3">
        <input class="form-check-input" type="checkbox" id="logs-auto-scroll" checked value="true">
        <label class="form-check-label" for="logs-auto-scroll">Auto-scroll</label>
      </div>
    </div>
  </div>
  <hr/>
  <div class="container-fluid">
    <h3>
      Webhook Deliveries
      <span id="webhooks-count"></span>
      <span class="fa-solid fa-box-open" />
    </h3>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group" id="webhooks-index" role="tablist"></div>
      </div>
      <div class="col-md-8">
        <div class="tab-content" id="webhooks-content"></div>
      </div>
    </div>
  </div>
</div>

@functions {
    public LayoutModel LayoutModel { get; } = new("Administration");
}
