name: oats

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
    branches:
      - main
      - dotnet-vnext
      - dotnet-nightly
  workflow_dispatch:

env:
  FORCE_COLOR: 3
  TERM: xterm

permissions: {}

jobs:
  oats:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:

      - name: Update agent configuration
        shell: pwsh
        run: |
          $nugetHome = "~/.nuget/packages"
          if (-Not (Test-Path $nugetHome)) {
            New-Item -Path $nugetHome -Type Directory -Force | Out-Null
          }
          $nugetHome = Resolve-Path $nugetHome
          "NUGET_PACKAGES=$nugetHome" >> ${env:GITHUB_ENV}

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          cache: false
          go-version: '1.25'

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24.x'

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: pwsh
        run: |
          "dir=$(npm config get cache)" >> ${env:GITHUB_OUTPUT}

      - name: Setup npm cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Setup NuGet cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props') }}
          restore-keys: ${{ runner.os }}-nuget-

      - name: Build container
        id: build
        run: dotnet publish ./src/Costellobot --arch x64 --os linux -p:PublishProfile=DefaultContainer -p:SetGitHubContainerPublishingOutputs=true

      - name: Tag container
        env:
          CONTAINER_TAG: ${{ steps.build.outputs.container-tag }}
          OATS_TAG: costellobot:latest
        run: docker tag "${CONTAINER_TAG}" "${OATS_TAG}"

      - name: Install OATS
        env:
          # renovate: datasource=github-releases depName=oats packageName=grafana/oats
          OATS_VERSION: v0.4.1
        run: |
          go install "github.com/grafana/oats@${OATS_VERSION}"

      - name: Run OATS
        env:
          # renovate: datasource=github-releases depName=LGTM packageName=grafana/docker-otel-lgtm
          LGTM_VERSION: '0.11.17'
        run: oats --lgtm-version="${LGTM_VERSION}" --timeout=5m ./tests/Costellobot.Oats
