name: update-bank-holidays

on:
  schedule:
    - cron:  '0 10 1 * *'
  workflow_dispatch:

permissions: {}

jobs:
  update-bank-holidays:
    name: Update UK bank holidays JSON
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    steps:

    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        token: ${{ secrets.COSTELLOBOT_TOKEN }}

    - name: Update UK bank holidays
      id: update-bank-holidays
      shell: pwsh
      env:
        GIT_COMMIT_USER_EMAIL: ${{ vars.GIT_COMMIT_USER_EMAIL }}
        GIT_COMMIT_USER_NAME: ${{ vars.GIT_COMMIT_USER_NAME }}
      run: |
        $ErrorActionPreference = "Stop"
        $ProgressPreference = "SilentlyContinue"

        $BankHolidaysJsonUri = "https://www.gov.uk/bank-holidays.json"
        $BankHolidaysJsonFileName = (Join-Path "." "src" "Costellobot" "bank-holidays.json")

        Invoke-WebRequest -Uri $BankHolidaysJsonUri -OutFile $BankHolidaysJsonFileName | Out-Null

        $GitStatus = (git status --porcelain)

        if ([string]::IsNullOrEmpty($GitStatus)) {
          Write-Host "No changes to commit."
          exit 0
        }

        $BranchName = "update-uk-bank-holidays"

        git config user.email "${env:GIT_COMMIT_USER_EMAIL}" | Out-Null
        git config user.name "${env:GIT_COMMIT_USER_NAME}" | Out-Null
        git remote set-url "${env:GITHUB_SERVER_URL}/${env:GITHUB_REPOSITORY}.git" | Out-Null
        git fetch origin | Out-Null
        git rev-parse --verify --quiet "remotes/origin/${BranchName}" | Out-Null

        if ($LASTEXITCODE -eq 0) {
          Write-Host "Branch ${BranchName} already exists."
          exit 0
        }

        git checkout -b $BranchName
        git add $BankHolidaysJsonFileName
        git commit -m "Update UK Bank Holidays`n`nUpdate UK bank holidays from ${BankHolidaysJsonUri}."
        git push -u origin $BranchName

        "updated-uk-bank-holidays=true" >> $env:GITHUB_OUTPUT

    - name: Create pull request
      if: steps.update-bank-holidays.outputs.updated-uk-bank-holidays == 'true'
      uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
      with:
        github-token: ${{ secrets.COSTELLOBOT_TOKEN }}
        script: |
          const { repo, owner } = context.repo;
          const workflowUrl = `${process.env.GITHUB_SERVER_URL}/${owner}/${repo}/actions/runs/${process.env.GITHUB_RUN_ID}`;
          await github.rest.pulls.create({
            title: 'Update UK Bank Holidays',
            owner,
            repo,
            head: 'update-uk-bank-holidays',
            base: 'main',
            body: [
              'Update UK bank holiday dates from [gov.uk](https://www.api.gov.uk/gds/bank-holidays/#bank-holidays).',
              '',
              `This pull request was generated by [GitHub Actions](${workflowUrl}).`
            ].join('\n')
          });
